* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: linear-gradient(270deg, #09090a, #121214);
    padding: 2rem 0;
    font-family: "Roboto", sans-serif;
  }
  
  .content-title {
    text-align: center;
  }
  .content-title .main-container-title {
    font-size: 3.5rem;
    color: #F25F1D;
    font-weight: bold;
  }
  .content-title .main-container-subtitle {
    font-size: 1.2rem;
    color: #E1E1E6;
    font-weight: 400;
    margin-top: 1rem;
  }
  
  .content-jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }
  .content-jobs button {
    transition: background-color 0.3s ease 0s, transform 0.3s ease 0s;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 8px;
    padding: 1rem 2rem;
    background-color: rgb(0, 240, 80);
    font-size: 1rem;
    font-weight: 600;
    color: #1e1e1e;
  }
  .content-jobs button:disabled {
    cursor: not-allowed;
    background: #50555A;
    color: #a7a7a7;
  }
  .content-jobs ul {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
  }
  .content-jobs ul li {
    border: 1px solid #29292e;
    background-color: #121214;
    padding: 2rem;
    border-radius: 8px;
    width: 340px;
    height: auto;
    text-align: center;
  }
  .content-jobs ul li .content-description-job .title-job {
    font-size: 28px;
    line-height: 38px;
    color: #e1e1e6;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  .content-jobs ul li .content-description-job .other-info {
    color: #a8a8b3;
    font-weight: 400;
    font-size: 1rem;
    line-height: 26px;
  }
  .content-jobs ul li .content-description-job .link-job {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #F25F1D;
    color: #FFF;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    display: inline-block;
    margin-top: 1.5rem;
  }
  